<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.shetj.logkit">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <application>
        <activity
            android:name="me.shetj.logkit.LogDesActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:exported="false"
            android:launchMode="singleTask"
            />
        <activity
            android:name="me.shetj.logkit.ui.LogFilesActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:exported="false"
            android:launchMode="singleTask"/>

        <service android:name="me.shetj.logkit.service.SLogServerService"
            android:exported="true"
            android:enabled="true">
        </service>
    </application>

</manifest>